{{!--
    Renders the request-body section of an operation.
    @param {string[]} consumes a list of request content type eligible for this operation.
    @param {Parameter} body the param-Object of the `body`-parameter
    @api public
--}}

<section class="swagger-request-body">
  {{#if body}}
    {{#with body}}
    {{#each content as |c type|}}
      {{#if c.schema.$ref}}
        <div class="prop-row">
          <div class="prop-name">
            <div class="swagger-request-model">
              {{>json-schema/reference c.schema}}
            </div>
          </div>
          <div class="prop-value columns small-6">
            <!-- <div class="swagger-request-description"> -->
              {{../description}}
            <!-- </div> -->
          </div>
        </div>
      {{else if content.schema.type}}
        {{#if description}}
          {{md description}}
        {{else if content.schema.description}}
          {{md schema.description}}
        {{/if}}
        {{>json-schema/body schema}}
      {{/if}}
    {{/each}}
    {{/with}}
  {{/if}}
</section>
